body,html {
  margin: 0px;
  position: relative;
  font-family: 'Ubuntu', sans-serif;
}

#topo {
  height: 130px;
  width: 100%;
  background-color: #374458;
}

#nome {
  top: 30px;
  left: 40px;
  font-size: 34.5px;
  position: relative;
  color: #FFFFFF;
}

#cargo {
  top: 30px;
  left: 40px;
  font-size: 18px;
  position: relative;
  color: #4f90cd
}

#contato {
  font-size: 12px;
  padding-left: 67px;
  height: 42px;
  color: #FFFFFF;
  background-color: #2b343f;
  box-shadow: 0px 5px 3px -3px #a0aaaf;
}

#infos {
  display: flex;
}

.info {
  padding: 15px;
  display: flex;
}

.info-icone {
  font-size: 14px;
  margin-right: 5px;
}

#content {
  padding: 20px;
}

#to {
  padding: 20px 40px;
  font-size: 18px;
}

.to {
  color: #7c7c7c;
}

.data {
  color: #7c7c7c;
}

#text {
  border-style: solid;
  border-width: 1px;
  padding: 20px 30px;
  text-align: justify;
  text-justify: inter-word;
}

#subject {
  padding: 20px;
}